html {
  height: 100%;
  width: 100%;
  
  background: linear-gradient(white, moccasin);
  background-attachment: fixed;
  
  img {
    width: 200px;
  }
  body {
    text-align: center;
  }
  body {
    text-align: center;
    font-family: 'Arial';
  }
  body {
    text-align: center;
    font-family: 'Tahoma';
    
    color: darkolivegreen;
  }
}